@font-face {
  font-family: 'Poppins';
  src:  url('./fonts/poppins.ttf') format('ttf'),
        url('./fonts/Poppins-Medium.ttf') format('ttf');
}

body {
    background: #FFF;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.blue {
  color: #0475ba;
}

.blue-bg {
  background-color: #0475ba;
  color: white;
}

.white-bg {
  background-color: white;
}

section {
  display: flex;
  padding: 40px 40px 40px 40px;
}

.nav ul {
  margin: 0px;
  padding: 0px;
  background: #0475ba;
  list-style:none;
}

.nav a {
  padding: 1em;
  display: block;
  text-align:center;
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: black;
}

.brand {
  padding: 1em;
  color: white;
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction : row;
  justify-content: left;
  @media (max-width: 450px) {
    flex-flow: column wrap;
  } 
}

.img-rounded {
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .45);;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

@media all and (max-width: 1024px) {
  section {
    flex-direction: column;
  }
  body {
    background-color: black;
  }
}