body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgba(33,147,176,1);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #305F72;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}


.effet-zoom {
    transition: all .5s ease-in-out;
}

.effet-zoom:hover {
    padding: 25px 0;
    transition: all .5s ease-in-out;
}

/* Card */

.card-box {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #777777;
}

.progress-bar {
    transition: all 0.5s ease-in-out;
}

.progress-bar:hover {
    background-color: #305F72;
    transition: all 0.5s ease-in-out;
}

/* Social */

.twitter  {
    color: #1DA1F2;
 }

.github {
    color: #211F1F;
}
 
.linkedin {
    color: #0072b1;
}

/* Header */

.header-bg {
    background: rgb(33,147,176);
    background: linear-gradient(310deg, rgba(33,147,176,1) 0%, rgba(109,213,237,1) 100%);
    border-bottom: 10px rgba(0, 0, 0, 0.3) solid;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
}

.header-bg img {
    transition: all .5s ease-in-out;
}

.header-bg img:hover {
    opacity: 0.8;
}

.img-shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

/* Colors */

.text-myprimary {
    color: rgba(33,147,176,1);
}

.bg-myprimary {
   background-color: rgba(33,147,176,1);
}

/* Buttons */

.btn-myprimary {
    color: #fff;
    background-color: rgba(33,147,176,1);
    border-color: rgba(33,147,176,1);
}
  
.btn-myprimary:hover {
    color: #fff;
    background-color: #305F72;
    border-color: rgba(33,147,176,1);
}

/* Project */

.project-line {
    height: 3px;
    width: 50px;
    background-color: rgba(33,147,176,1);
    margin: 0 auto;
}

a img {
    transition: all .5s ease-out;
}

a img:hover {
    opacity: 0.5;
    transition: all .5s ease-out;
}

#sticky-position {
    top: 54px;
}

.card {
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
    border: 0px;
    border-radius: 0;
    border-top: 5px #216f83 solid;
}